.task {
  width: 100%;
  padding: 1rem;
  background-color: white;
  font-weight: 600;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
}

.text-and-delete {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  width: 80%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.task img {
  height: 1rem;
  cursor: pointer;
}

.change-status-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.img-container {
  height: 1rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Shadow Component CSS */

.shadow {
  animation: shadow-anim 0.5s linear infinite alternate;
  opacity: 0.5;
}

@keyframes shadow-anim {
  0% {
    background-color: rgb(150, 150, 150);
  }
  100% {
    background-color: rgb(200, 200, 200);
  }
}

.shadow-text-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shadow-text-container .shadow {
  height: 0.5rem;
  width: 100%;
}

span.shadow:last-child {
  width: 90%;
}
